.disks1,
.disks2,
.disks3 {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.disks1 {
  width: 33%;
}
.disks2 {
  width: 100%;

}
.disks3 {
  width: 166%;

}
.exit {
  top: 4%;
  left: 4%;
  position: absolute;
  width: 10%;
  text-align: center;
  background-color: rgba(223, 223, 223, 0.4);
  padding: 2% 0;
  border-radius: 25px;
  font-size: 110%;
}
.exit:hover {
  cursor: pointer;
}
.steps {
  right: 4%;
  top: 4%;
  width: 10%;
  position: absolute;
  text-align: center;
  background-color: rgba(223, 223, 223, 0.4);
  padding: 2% 0;
  border-radius: 25px;
  font-size: 110%;
}