.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.349);
  }
  
  .modal-main {
    position:fixed;
    background-color: rgba(255, 255, 255, 0.397);
    width: 50%;
    height: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 25px;
  }
  .header-choose{
    position: relative;
    top: 10%;
    left: 10%;
    font-size: 3vw;
  }
  .cancel{
    bottom: 7%;
    left: 5%;
    width:10%;
    position: absolute;
    font-size: 2vw;
  }
  .cancel:hover{
    cursor: pointer;
  }
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  .dropdown{
    width:10%;
    left: 40%;
    top:10%
  }
  .start{
    right: 50%;
    transform: translate(50%, 0);
    bottom: -25px;
    position: absolute;
    width:75px;
    height: 60px;
    background-color:rgb(143, 83, 135);
    border-radius: 50%;
    text-align: center ;
    font-size: 40px;
    color:black;
    padding-top: 15px;
  }
  .start:hover{
    cursor: pointer;
    background-color: rgb(196, 114, 185);
  }
