.tower {
  height: 80%;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: absolute;
}
.rod1,
.rod2,
.rod3 {
  width: 20%;
  margin-left:30%;
  height: 100%;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  background-color: rgb(27, 14, 55);
}
.area1:hover,
.area2:hover,
.area3:hover {
  cursor: pointer;
}
.area1,
.area2,
.area3 {
  width:15%;
}